html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, 
    rgb(1, 11, 33) 5%,
    rgb(9, 9, 67) 54%,
    rgb(5, 29, 67) 100%,
    rgb(2, 13, 34) 100%);
    color: rgb(207, 207, 236);
}

.about, .contact {
    min-height: 80%;
}

.service, .about, .contact {
    background-color: rgb(4, 13, 47);
    color: rgb(188, 188, 208);
}

.hero-header {
    color: white;
}

a {
    text-decoration: none;
}

footer {
    background-color: rgb(0, 4, 14);
    list-style: none;
    color: white;
}

footer a, .navbar-collapse a {
    color: white;
}


.ls {
    list-style: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.hero-image {
    border-radius: 70px 0 30px 0;
}

.card-img {
    height: 120px;
}


/* Media query for desktop screens */
@media screen and (min-width: 768px) {
    .hero-header {
        font-size: 50px; /* Adjust the line-height value as needed */
    }

    .btn-primary {
        font-size: 20px;
    }
}